@mixin bgimg($url) {
  background: url(#{$url}) no-repeat;
}
@mixin bgimgc($url) {
  background: url(#{$url}) no-repeat center;
}
@mixin bgimg-repeat($url) {
  background: url(#{$url}) repeat;
}

@mixin inputcolor($color) {
  color: $color;
  &::-webkit-input-placeholder{
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &::-ms-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
}
@mixin inputbg($color) {
  background-color: $color;
  &::-webkit-input-placeholder{
    background-color: $color;
  }
  &::-moz-placeholder {
    background-color: $color;
  }
  &::-ms-input-placeholder {
    background-color: $color;
  }
  &::-moz-placeholder {
    background-color: $color;
  }
}


@mixin lh($height) {
  height: $height;
  line-height: $height;
}

@mixin triangle($width: 10px) {
  border-top: $width dashed transparent;
  border-bottom: $width dashed transparent;
  border-left: $width dashed transparent;
  border-right: $width dashed transparent;
  height: 0;
  width: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
