/**
  * @name: index.css
  * @description: page style
  * @author: liejiayong(809206619@qq.com)
  * @data: 2018-12-18
*/
@import "./_const.scss";
@import "./_mixin.scss";
@import "./_reset.scss";
@import "./_font.scss";
@import "./_sprite.scss";
@import "./_util.scss";
@import "./_lib.scss";

/**
*  business css
**/
/* navbar css */
.navbar {
  position: absolute;
  top: 30px;
  left: 954px;
  width: 50%;
  line-height: 28px;
  z-index: 100;
  color: #fef8e7;
  .navbar-body{
    overflow: hidden;
    transition: all .3s ease;
  }
  .bg-menu {
    position: relative;
    li {
      a {
        position: relative;
        display: block;
        font-size: 16px;
      }
      &:not(:last-of-type) {
        a::before {
          content: "";
          display: block;
          position: absolute;
          top: 7px;
          bottom: 7px;
          right: 1px;
          border-right: 1px solid #fef8e7;
          z-index: 1;
        }
      }
    }
  }
  .navbar-btn-stat {
    position: absolute;
    top: 50%;
    left: -10px;
    border-top: 20px dashed transparent;
    border-bottom: 20px dashed transparent;
    border-left: 20px dashed transparent;
    border-right: 20px solid #6872d0;
    height: 0;
    width: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    cursor: pointer;
    transform: rotate(0);
    transition: all 0.3s ease;
    transform-origin: 75% 50%;
    &.active {
      transform: rotate(180deg);
      transition: all 0.3s ease;
    }
  }
}

/* section-header */
.section-header {
  position: relative;
  height: 904px;
  background-image: url("../img/bgh.jpg");
  .jy-headermain {
    position: relative;
    padding-top: 10px;
    height: 100%;
    background: url("../img/bghm.jpg") no-repeat center top;
    .logo {
      position: absolute;
      top: 15px;
      left: 10px;
      z-index: 10;
    }
    .time {
      margin: 276px 0 0 515px;
      width: 523px;
      // @include lh(50px);
      color: #4048b4;
      font-size: 16px;
      // @include bgimgc('../img/bg-time.png');
    }
    .btn-rule {
      display: block;
      margin: 15px auto 0;
    }
  }
}

// bg1
.section-1 {
  position: relative;
  height: 2088px;
  background-image: url("../img/bg1.jpg");
  .jy-sectionmain {
  }
}
