.bb1{display:inline-block;width: 6.39rem; height: 4.54rem; background: url("../img/bb1.png") no-repeat center / contain;}
.bg-1-gift{display:inline-block;width: 4.96rem; height: 1.17rem; background: url("../img/bg-1-gift.png") no-repeat center / contain;}
.bg-2-gift{display:inline-block;width: 6.84rem; height: 3.04rem; background: url("../img/bg-2-gift.png") no-repeat center / contain;}
.bg-2-tit{display:inline-block;width: 7.50rem; height: 3.51rem; background: url("../img/bg-2-tit.png") no-repeat center / contain;}
.bg-3-tit{display:inline-block;width: 7.50rem; height: 3.51rem; background: url("../img/bg-3-tit.png") no-repeat center / contain;}
.bg-pop{display:inline-block;width: 6.92rem; height: 8.29rem; background: url("../img/bg-pop.png") no-repeat center / contain;}
.bg1{display:inline-block;width: 7.50rem; height: 13.34rem; background: url("../img/bg1.png") no-repeat center / contain;}
.bg2{display:inline-block;width: 7.50rem; height: 13.34rem; background: url("../img/bg2.png") no-repeat center / contain;}
.i-footer-logo{display:inline-block;width: 0.97rem; height: 0.96rem; background: url("../img/i-footer-logo.png") no-repeat center / contain;}
.i-select-dr{display:inline-block;width: 0.14rem; height: 0.12rem; background: url("../img/i-select-dr.png") no-repeat center / contain;}
.logo{display:inline-block;width: 5.02rem; height: 3.18rem; background: url("../img/logo.png") no-repeat center / contain;}
