<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="UTF-8" />
    <title><%= blog.title %></title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="keywords" content="liejy blog" />
    <meta name="description" content="liejy blog" />
    <meta name="renderer" content="webkit" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="robots" content="follow">
    <meta name="author" content="liejy">
    <meta name="copyright" content="liejy">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/semantic-ui/semantic.min.js?v=2.4.0"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/semantic-ui/semantic.min.css?v=2.4.0" />
  </head>
  <body>

  <%- include('components/nav') %>
  <%- include('components/nav-setting') %>
  <%- include('components/notification') %>