.bg-answer{background-image: url('../img/skill-sprite.png');background-position: 0px 0px;width:750px;height:1334px;}
.bg-home{background-image: url('../img/skill-sprite.png');background-position: -1510px 0px;width:741px;height:1334px;}
.bg-lantern{background-image: url('../img/skill-sprite.png');background-position: 0px -1339px;width:629px;height:883px;}
.bg-lantern1{background-image: url('../img/skill-sprite.png');background-position: -1882px -1339px;width:750px;height:288px;}
.bg-p1{background-image: url('../img/skill-sprite.png');background-position: -2256px 0px;width:709px;height:1057px;}
.bg-pop{background-image: url('../img/skill-sprite.png');background-position: -1258px -1339px;width:619px;height:417px;}
.bg-pop1{background-image: url('../img/skill-sprite.png');background-position: -634px -1339px;width:619px;height:684px;}
.bg-share{background-image: url('../img/skill-sprite.png');background-position: -755px 0px;width:750px;height:1334px;}
.bg-slogan-sub{background-image: url('../img/skill-sprite.png');background-position: -2369px -1632px;width:244px;height:50px;}
.bg-slogan{background-image: url('../img/skill-sprite.png');background-position: -1258px -1761px;width:609px;height:153px;}
.bg-time{background-image: url('../img/skill-sprite.png');background-position: -1882px -1632px;width:482px;height:53px;}
.btn-1{background-image: url('../img/skill-sprite.png');background-position: -2256px -1062px;width:685px;height:151px;}
.btn-back{background-image: url('../img/skill-sprite.png');background-position: -1882px -1690px;width:149px;height:58px;}
.btn-close{background-image: url('../img/skill-sprite.png');background-position: -2918px -1218px;width:40px;height:40px;}
.btn-ok{background-image: url('../img/skill-sprite.png');background-position: -2256px -1218px;width:326px;height:100px;}
.btn-recharge{background-image: url('../img/skill-sprite.png');background-position: -2587px -1218px;width:326px;height:100px;}
.btn-start{background-image: url('../img/skill-sprite.png');background-position: -1872px -1761px;width:439px;height:139px;}
.icon-recharge-1{background-image: url('../img/skill-sprite.png');background-position: -634px -2028px;width:193px;height:193px;}
.icon-recharge-2{background-image: url('../img/skill-sprite.png');background-position: -832px -2028px;width:193px;height:193px;}
.icon-recharge-3{background-image: url('../img/skill-sprite.png');background-position: -2637px -1339px;width:193px;height:193px;}
.icon-tit-recharge{background-image: url('../img/skill-sprite.png');background-position: -2637px -1537px;width:247px;height:64px;}
.logo{background-image: url('../img/skill-sprite.png');background-position: -2316px -1761px;width:264px;height:91px;}
.pixels{background-image: url('../img/skill-sprite.png');background-position: 0px -2227px;width:134px;height:218px;}
.tw_logo{background-image: url('../img/skill-sprite.png');background-position: -2835px -1339px;width:68px;height:68px;}
