// variable for color anywhere
// 主题色定义
$color-theme-bg: #1e130d; // 默认主题背景颜色
$color-theme-txt: #9d865f; // 默认主题字体颜色,与$color-primary一样

// 默认颜色定义
$color-primary: $color-theme-txt; // 默认字体颜色

$color-yellow: #f1d192; // 黄色字体

$btn-txt-color: #ffeac2; // 默认btn font color
$btn-bg-color: #ac3300; // 默认btn bg color

$color-orange: #ff3300; // 橘红色