.btn-get{background-image: url('../img/skill-sprite.png');background-position: -556px -150px;width:172px;height:66px;}
.btn-navbar{background-image: url('../img/skill-sprite.png');background-position: -556px -221px;width:216px;height:36px;}
.btn-start{background-image: url('../img/skill-sprite.png');background-position: -556px 0px;width:375px;height:145px;}
.icon-b1{background-image: url('../img/skill-sprite.png');background-position: 0px 0px;width:273px;height:273px;}
.icon-b2{background-image: url('../img/skill-sprite.png');background-position: -278px 0px;width:273px;height:273px;}
.icon-b3{background-image: url('../img/skill-sprite.png');background-position: 0px -278px;width:273px;height:273px;}
.icon-b4{background-image: url('../img/skill-sprite.png');background-position: -278px -278px;width:273px;height:273px;}
