// variable for color anywhere
// 主题色定义
$color-theme-bg: #8c0914; // 默认主题背景颜色
$color-qestion-bg: #a00706; // 默认答题背景颜色
$color-theme-txt: #ffd25a; // 默认主题字体颜色,与$color-primary一样

// 默认颜色定义
$color-primary: $color-theme-txt; // 默认字体颜色
$color-btn-txt: #a70000; // 默认按钮字体颜色
$color-btn-bg: #ffb320; // 默认按钮字体颜色

$color-q: #481584; // 答题颜色
$color-q-suc: #36f38b; // 答题颜色
$color-q-fail: #f33657; // 答题颜色
$color-q-active: #7d59a8; // 答题颜色

// 颜色样式定义
.color-orange {
  color: $color-theme-txt;
}
.color-red {
  color: $color-theme-bg;
}
