@import "font.scss";
@import "color.scss";

.cl{zoom:1}
.cl:after{clear:both;display:block;visibility:hidden;height:0;content:'\0020'}
.tc{text-align: center}
.g-flex{display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-webkit-align-items: center;-moz-box-align: center;-ms-flex-align: center;align-items: center;}
.g-flex-5{width: 50%; -webkit-box-flex: 50%; -webkit-flex: 50%; -moz-box-flex: 50%; -ms-flex: 50%; flex: 50%;}
.g-flex-4{width: 40%; -webkit-box-flex: 40%; -webkit-flex: 40%; -moz-box-flex: 40%; -ms-flex: 40%; flex: 40%;}
.g-flex-wrap{-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.nowrap{overflow: hidden;-o-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;}
.vf-hide{overflow: hidden;}
.fill-100{width: 100%;height: 100%;}
.absolute-0{position: absolute;top:0;left:0;}
.jybtn{display:inline-block;z-index: 100; cursor: pointer;}
.relative{position: relative;}
.jy-flex-c{display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-webkit-justify-content: center;-moz-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-webkit-align-items: center;-moz-box-align: center;-ms-flex-align: center;align-items: center;}
.jy-tit{overflow: hidden; text-indent: -9999px; font-size: 0;}

// bg home page
.bg-home{
  width: 100%;
  background: $color-theme-bg url('../img/bg-home.png') no-repeat top center / 100% auto;
}
// bg答题 page
.bg-section{
  width: 100%;
  background: $color-qestion-bg url('../img/bg-answer.png') no-repeat top center / 100% auto;
}

// 字体大小
.fs-30{
  width: .3rem;
}

.mt-15{
  margin-top: .15rem;
}