@import './lib/animate.scss';
@import './lib/swiper.scss';
@import './lib/counttime.scss';
@import './reset.scss';
@import './common.scss';
@import './color.scss';

// loading style
.pageloading {
  background-color: $color-theme-bg;
  .inner {
    margin-left: -2.5rem;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 5rem;
    text-align: center;
    overflow: hidden;
    .loading_img {
      $bgwidth: 1.2rem;
      margin: 0 auto;
      width: $bgwidth;
      height: $bgwidth;
      background: url('../img/tw_logo.png') no-repeat center / $bgwidth auto;
    }
    .loading_rate {
      margin-top: 0.3rem;
      width: inherit;
      color: $color-primary;
    }
  }
}

// 旋转屏幕
.orient{display:none;position:fixed;height:100%;width:100%;left:0;top:0;right:0;bottom:0;background:#333;z-index:9997}
.orient_content{position:absolute;width:100%;top:45%;margin-top:-75px;text-align:center}
.orient_icon{background-image:url(../img/pixels.png);display:inline-block;width:67px;height:109px;-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);-webkit-transform:rotate(90deg);-webkit-animation:rotation infinite 1.5s ease-in-out;-moz-animation:rotation infinite 1.5s ease-in-out;animation:rotation infinite 1.5s ease-in-out;-webkit-background-size:67px;-moz-background-size:67px;background-size:67px}
@-webkit-keyframes rotation{10%{transform:rotate(90deg);-webkit-transform:rotate(90deg)}50%,60%{transform:rotate(0);-webkit-transform:rotate(0)}90%{transform:rotate(90deg);-webkit-transform:rotate(90deg)}100%{transform:rotate(90deg);-webkit-transform:rotate(90deg)}}
@-moz-keyframes rotation{10%{-moz-transform:rotate(90deg);transform:rotate(90deg);-webkit-transform:rotate(90deg)}50%,60%{-moz-transform:rotate(0);transform:rotate(0);-webkit-transform:rotate(0)}90%{-moz-transform:rotate(90deg);transform:rotate(90deg);-webkit-transform:rotate(90deg)}100%{-moz-transform:rotate(90deg);transform:rotate(90deg);-webkit-transform:rotate(90deg)}}
@keyframes rotation{10%{-moz-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);-webkit-transform:rotate(90deg)}50%,60%{-moz-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0);-webkit-transform:rotate(0)}90%{-moz-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);-webkit-transform:rotate(90deg)}100%{-moz-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);-webkit-transform:rotate(90deg)}}
.orient_desc{margin-top:20px;font-size:15px;color:#fff}
@media screen and (min-aspect-ratio:13/9){#orientLayer{display:block}}

// 音乐
.audiolist{
  width: 1px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
}

// 倒计时
.pcountdown{
  position: relative;
  background-color: rgba(0, 0, 0, .7);
  .jyb{
    $width: 4.8rem;
    $height: 4.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -#{$height/2} 0 0 -#{$width/2};
    width: $width;
    height: $height;
    .scount{
      $width: 2.9rem;
      width: $width;
      height: $width;
      margin: 0 auto;
      text-align: center;
      line-height: $width;
      font-weight: bold;
      font-size: 1.7164rem;
      background-color: #b00505;
      color: #fff;
      -moz-border-radius: 50%;
           border-radius: 50%;
    }
    .desc{
      margin-top: .5rem;
      font-size: .25rem;
      color: #fff;
      line-height: 2;
      p{
        color: inherit;
      }
    }
  }
}

// page1 style
.page1 {
  .icon-logo {
    padding: 0.38rem 0 0 0.44rem;
    width: 2.64rem;
  }
  .btn-login,
  .btn-mygift {
    $width: 1.5rem;
    $height: 0.6rem;
    position: absolute;
    top: 0.55rem;
    width: $width;
    height: $height;
    line-height: $height;
    -moz-border-radius: $height;
    border-radius: $height;
    font-size: 0.24rem;
    color: $color-btn-txt;
    background: $color-btn-bg -webkit-gradient(linear, left top, left bottom, from($color-btn-bg), to(#ffd271));
    background: $color-btn-bg -webkit-linear-gradient($color-btn-bg, #ffd271);
    background: $color-btn-bg -moz-linear-gradient($color-btn-bg, #ffd271);
    background: $color-btn-bg -o-linear-gradient($color-btn-bg, #ffd271);
    background: $color-btn-bg linear-gradient($color-btn-bg, #ffd271);
  }
  .btn-login {
    right: 2.04rem;
  }
  .username{
    $width: 6rem;
    $height: 0.6rem;
    position: absolute;
    top: 0;
    right: .44rem;
    text-align: right;
    width: $width;
    height: $height;
    line-height: $height;
    white-space: nowrap;
    overflow-x: auto;
    white-space: nowrap;
  }
  .btn-mygift {
    right: 0.44rem;
  }
  .bg-time {
    $width: 4.82rem;
    $height: 0.53rem;
    margin: 0.24rem auto 0;
    width: $width;
    height: $height;
    line-height: $height;
    font-size: 0.3064rem;
    color: #ffdb7b;
    background: url('../img/bg-time.png') no-repeat center / $width auto;
  }
  .bg-slogan {
    $width: 6.09rem;
    $height: 1.53rem;
    margin: 0 auto;
    width: $width;
    height: $height;
    line-height: $height;
    background: url('../img/bg-slogan.png') no-repeat center / $width auto;
  }
  .bg-slogan-sub {
    $width: 2.44rem;
    $height: 0.5rem;
    margin: 0 auto 0;
    width: $width;
    height: $height;
    line-height: $height;
    background: url('../img/bg-slogan-sub.png') no-repeat center / $width auto;
  }
  .bg-lantern {
    $width: 6.29rem;
    $height: 10rem;
    position: relative;
    margin: -0.1rem auto 0;
    // padding: 1.88rem 0.7rem 0;
    padding: 1.2rem 0.7rem 0;
    width: $width;
    height: $height;
    background: url('../img/bg-lantern.png') no-repeat top center / $width auto;
    color: #ffd25a;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    @media screen and (max-height: 500px) {
      height: 12rem;
    }
    .tit {
      font-size: 0.28rem;
      font-weight: bold;
    }
    .subtit {
      margin-top: 0.15rem;
      line-height: 1.5;
    }
    .btn-start {
      display: block;
      $width: 4.39rem;
      $height: 1.39rem;
      margin: 0.3rem auto 0;
      width: $width;
      height: $height;
      background: url('../img/btn-start.png') no-repeat center / $width auto;
    }
  }
  .btn-call,
  .btn-gorecharge {
    position: absolute;
    top: 7.2rem;
    $width: 2.58rem;
    $height: 1rem;
    $imgw: 6.85rem;
    width: $width;
    height: $height;
    background: url('../img/btn-1.png') no-repeat 0 0 / #{$imgw} auto;
  }
  @media screen and (max-height: 570px) {
    .btn-gorecharge,.btn-call {
      top: 7.5rem;
    }
  }
  .btn-call {
    left: 0.2rem;
  }
  .btn-gorecharge {
    right: 0.2rem;
    background-position: -3.87rem 0;
  }
}

// page2
.page2 {
  .bg-lantarn {
    $width: 100%;
    $height: 2.88rem;
    margin: 0 auto 0;
    padding: 0.3rem 0 0;
    width: $width;
    height: $height;
    background: url('../img/bg-lantern1.png') no-repeat center / $width auto;
    color: #ffd25a;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .btn-back {
      $width: 1.49rem;
      $height: 0.58rem;
      width: $width;
      height: $height;
      background: url('../img/btn-back.png') no-repeat center / $width auto;
    }
    .jy-counttime {
      $width: $ct-width;
      $height: $ct-height;
      margin: 0.35rem auto 0;
      width: $width;
      height: $height;
      background-color: #850404;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-shadow: 0 0 1px #890404;
      -moz-box-shadow: 0 0 1px #890404;
      box-shadow: 0 0 1px #890404;
      overflow: hidden;
      -moz-border-radius: $height;
      border-radius: $height;
      .current {
        display: block;
        width: 0;
        height: inherit;
        background: #ffd118 -webkit-gradient(linear, left top, left bottom, from(#ffd118), to(#ffe062));
        background: #ffd118 -webkit-linear-gradient(#ffd118, #ffe062);
        background: #ffd118 -moz-linear-gradient(#ffd118, #ffe062);
        background: #ffd118 -o-linear-gradient(#ffd118, #ffe062);
        background: #ffd118 linear-gradient(#ffd118, #ffe062);
        -moz-border-radius: $height;
        border-radius: $height;
      }
    }
    .time-txt {
      margin-top: 0.35rem;
      font-weight: bold;
      font-size: 0.34rem;
      color: #ffd118;
    }
  }
  .jy-panel {
    $width: 7.09rem;
    $height: 10.57rem;
    margin: 0 auto;
    padding: 1.8rem 0.8rem 0;
    width: $width;
    height: $height;
    background: url('../img/bg-p1.png') no-repeat top / #{$width} auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    color: $color-q;
    .jy-qtip {
      font-size: 0.6rem;
      font-weight: bold;
    }
    .jy-qtit {
      margin: 0.4rem auto 0;
      width: 5.1rem;
      line-height: 1.5;
      font-size: 0.24rem;
    }
    .jy-qitem {
      padding-top: 0.3em;
      .qitem {
        margin-top: 0.35rem;
        $height: 0.75rem;
        width: inherit;
        height: $height;
        line-height: $height;
        letter-spacing: 1px;
        -moz-border-radius: $height;
        border-radius: $height;
        text-indent: 1em;
        border: 0.02rem solid #{$color-q};
        &.suc {
          position: relative;
          color: #fff;
          background-color: $color-q-suc;
          $width: .46rem;
          $width-s: .2rem;
          $height: .03rem;
          &::before{
            display: block;
            content: "";
            position: absolute;
            top: .45rem;
            right: .53rem;
            width: $width-s;
            height: $height;
            background-color: #fff;
            -webkit-transform: rotate(45deg);
               -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                 -o-transform: rotate(45deg);
                    transform: rotate(45deg);
          }
          &::after{
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            right: .2rem;
            width: $width;
            height: $height;
            background-color: #fff;
            -webkit-transform: rotate(-45deg);
               -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                 -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
          }
        }
        &.fail {
          position: relative;
          color: #fff;
          background-color: $color-q-fail;
          $width: .46rem;
          $height: .03rem;
          &::before{
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            right: .2rem;
            width: $width;
            height: $height;
            background-color: #fff;
            -webkit-transform: rotate(45deg);
               -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                 -o-transform: rotate(45deg);
                    transform: rotate(45deg);
          }
          &::after{
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            right: .2rem;
            width: $width;
            height: $height;
            background-color: #fff;
            -webkit-transform: rotate(-45deg);
               -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                 -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
          }
        }
        &.active {
          color: $color-q-active;
        }
      }
    }
  }

  // active status stlye
  &.swiper-slide-active {
    .current {
      -webkit-animation: width-100 #{$ct-time} linear forwards;
      -moz-animation: width-100 #{$ct-time} linear forwards;
      animation: width-100 #{$ct-time} linear forwards;
      &.pause {
        -webkit-animation-play-state: paused;
           -moz-animation-play-state: paused;
                animation-play-state: paused;
      }
    }
  }
}

// pagerecharge
.pagerecharge {
  overflow-y: auto;
  .bg-lantarn {
    $width: 7.5rem;
    $height: 2.88rem;
    margin: 0 auto 0;
    padding: 0.3rem 0 0;
    width: $width;
    height: $height;
    background: url('../img/bg-lantern1.png') no-repeat center / $width auto;
    color: #ffd25a;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .btn-back {
      $width: 1.49rem;
      $height: 0.58rem;
      width: $width;
      height: $height;
      background: url('../img/btn-back.png') no-repeat center / $width auto;
    }
    .jy-tit{
      $width: 2.47rem;
      $height: .64rem;
      margin: .6rem auto 0;
      width: $width;
      height: $height;
      background: url("../img/icon-tit-recharge.png") no-repeat center / $width auto;
    }
  }
  .jy-panel {
    $width: 7.09rem;
    $height: 10.57rem;
    margin: 0 auto;
    padding: 1.5rem 1rem 0;
    width: $width;
    height: $height;
    background: url('../img/bg-p1.png') no-repeat top / #{$width} auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    color: $color-q;
    .tit{
      font-size: .3rem;
      margin-bottom: .1rem;
    }
    .recharge-item{
      $width: 1.93rem;
      padding: .2rem 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      height: $width;
      border-bottom: 0.01rem solid #fdf8ff;
      -webkit-box-sizing: content-box;
         -moz-box-sizing: content-box;
              box-sizing: content-box;
      overflow: hidden;
      .icon{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 #{$width};
           -moz-box-flex: 0;
            -ms-flex: 0 0 #{$width};
                flex: 0 0 #{$width};
        width: $width;
        height: $width;
        img{
          width: inherit;
        }
      }
      .desc{
        padding-top: .2rem;
        margin-left: .3rem;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
           -moz-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        max-width: 2.9rem;
        .tit{
          font-size: .36rem;
          color: #481584;
        }
        .integral{
          margin-top: .1rem;
          color: #ba2929;
        }
        .btn-rechargegift{
          margin-top: .3rem;
          $width: 1.5rem;
          $height: 0.6rem;
          width: $width;
          height: $height;
          line-height: $height;
          -moz-border-radius: $height;
          border-radius: $height;
          font-size: 0.24rem;
          color: $color-btn-txt;
          background: $color-btn-bg -webkit-gradient(linear, left top, left bottom, from($color-btn-bg), to(#ffd271));
          background: $color-btn-bg -webkit-linear-gradient($color-btn-bg, #ffd271);
          background: $color-btn-bg -moz-linear-gradient($color-btn-bg, #ffd271);
          background: $color-btn-bg -o-linear-gradient($color-btn-bg, #ffd271);
          background: $color-btn-bg linear-gradient($color-btn-bg, #ffd271);
          &.disable{
            color: #060606;
            background: #ccc;
          }
        }
      }
    }
    .my-integral{
      margin-top: .25rem;
      font-size: .3rem;
      font-weight: bold;
    }
  }
}

// pop style
.pop {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  &.active{
    display: block;
    opacity: 1;
  }
  .pop_mask{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
  }
  .pop_main {
    $width: 6.28rem;
    $height: 4.17rem;
    position: fixed;
    padding-top: .7rem;
    margin-top: -($height / 2);
    margin-left: -($width / 2);
    left: 50%;
    top: 50%;
    width: $width;
    height: $height;
    -webkit-animation: popShow 0.6s ease;
    -moz-animation: popShow 0.6s ease;
    animation: popShow 0.6s ease;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    color: #ffcb2b;
    background: url("../img/bg-pop.png") no-repeat top center / $width auto;
    z-index: 200;
    .btn-close{
      $width: .4rem;
      position: absolute;
      top: 0;
      right: -.5rem;
      width: $width;
      height: $width;
      background: url("../img/btn-close.png") no-repeat center /$width auto;
      z-index: 300;
    }
  }
  .pop_body {
    margin: 0 auto;
    width: 5.1rem;
    font-size: .3089rem;
  }
  .btn-ok{
    display: block;
    margin: 0 auto;
    $width: 3.26rem;
    $height: 1rem;
    width: $width;
    height: $height;
    background: url("../img/btn-ok.png") no-repeat top / $width auto;
  }
  // select
  .popselect{
    display: block;
    position: relative;
    $width: 3.4rem;
    $height: .6rem;
    $radius: .1rem;
    margin: 0 auto;
    padding: 0 .2rem;
    width: $width;
    height: $height;
    background: #fff;
    color: #941717;
    -webkit-box-shadow: 0 0 .02rem #990f0f;
       -moz-box-shadow: 0 0 .02rem #990f0f;
            box-shadow: 0 0 .02rem #990f0f;
    // -webkit-appearance: none;
    //    -moz-appearance: none;
    //         appearance: none;
    outline: none;
    border: none;
    -moz-border-radius: $radius;
         border-radius: $radius;
         -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
                 box-sizing: border-box;
         overflow: hidden;
    &::before{
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: .2rem;
      border-top: .12rem solid #961010;
      border-bottom:.12rem solid transparent;
      border-left:.12rem solid transparent;
      border-right:.12rem solid transparent;
      height:0;
      width:0;
      font-size:0;
      line-height:0;
      overflow:hidden;
    }
    option{
      text-align: center;
    }
  }
  // input
  .popinput{
    $width: 5rem;
    margin: 0 auto;
    width: $width;
    .popinput-cell{
      $width: inherit;
      $height: .6rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      // -webkit-box-pack: justify;
      // -webkit-justify-content: space-between;
      //    -moz-box-pack: justify;
      //     -ms-flex-pack: justify;
      //         justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
              margin-bottom: .2rem;
      width: $width;
      height: $height;
      font-size: .26rem;
      .popinput-tit{
        $width: 1.5rem;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 #{$width};
           -moz-box-flex: 0;
            -ms-flex: 0 0 #{$width};
                flex: 0 0 #{$width};
        width: $width;
        height: $height;
        line-height: $height;
        color: #fff;
      }
      .popinput-inp{
        $width: 3.3rem;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 #{$width};
           -moz-box-flex: 0;
            -ms-flex: 0 0 #{$width};
                flex: 0 0 #{$width};
        width: $width;
        height: $height;
        input{
          $color: #f4d2d2;
          padding: 0 .2rem;
          width: inherit;
          height: inherit;
          outline: none;
          border: none;
          -webkit-appearance: none;
             -moz-appearance: none;
                  appearance: none;
          color: $color;
          &::-webkit-input-placeholder{
            color: $color;
          }
        }
      }
    }
  }
}
@-webkit-keyframes popShow {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(-50%);
  }
}
@-moz-keyframes popShow {
  from {
    opacity: 0;
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@keyframes popShow {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

// pop 我的奖品
.pop-myprize{
  &.pop{
    $width: 6.3rem;
    width: $width/2;
    margin-left: -$width/2;
    .pop_body{
      width: 5.8rem;
    }
  }
  .jy-table{
    width: inherit;
    height: 2.7rem;
    border: 0.02rem solid #e58f3b;
    background: #ffcb4f;
    color: #941717;
  }
  .table-tit,.table-item{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    .tablecell{
      $height: .58rem;
      height: $height;
      line-height: $height;
      text-align: center;
      overflow-x: auto;
      font-size: .18rem;
      &:nth-of-type(1) {
        $width: 40%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 $width;
           -moz-box-flex: 0;
            -ms-flex: 0 0 $width;
                flex: 0 0 $width;
        width: $width;
      }
      &:nth-of-type(2) {
        $width: 33%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 $width;
           -moz-box-flex: 0;
            -ms-flex: 0 0 $width;
                flex: 0 0 $width;
        width: $width;
      }
      &:nth-of-type(3) {
        $width: 27%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 $width;
           -moz-box-flex: 0;
            -ms-flex: 0 0 $width;
                flex: 0 0 $width;
        width: $width;
      }
    }
  }
  .table-tit{
    .tablecell{
      &:not(:last-of-type){
        border-bottom: .02rem solid #e58f3b;
        border-right: .02rem solid #e58f3b;
      }
      &:last-of-type{
        border-bottom: .02rem solid #e58f3b;
      }
    }
  }
  .table-body{
    max-height: 2rem;
    overflow-y: auto;
    .tablecell{
      &:not(:last-of-type){
        border-bottom: .02rem solid #e58f3b;
        border-right: .02rem solid #e58f3b;
      }
    }
    .tablecell:last-of-type{
      &:last-of-type{
        border-bottom: .02rem solid #e58f3b;
      }
    }
    .table-item:not(:last-of-type){
    }
  }
}

// pop 积分不足tip
.pop-integral-tip{
  .tip{
    padding-top: .5rem;
    font-weight: bold;
  }
  .btn-ok{
    margin-top: .7rem;
  }
}

// pop 游戏选择
.pop-gamechose{
  .tip{
    padding-top: .2rem;
    font-weight: bold;
  }
  .popselect{
    margin-top: .4rem;
  }
  .btn-ok{
    margin-top: .5rem;
  }
}

// pop 积分兑换礼品
.pop-recharge{
  .tip{
    padding-top: .2rem;
    font-weight: bold;
    line-height: 1.5;
  }
  .btn-ok{
    margin-top: .5rem;
  }
}

// pop 积分兑换礼品 suc
.pop-recharge-suc{
  .pop_main{
    $width: 6.19rem;
    $height: 6.84rem;
    padding-top: 1.36rem;
    margin-top: -($height / 2);
    margin-left: -($width / 2);
    width: $width;
    height: $height;
    background: url("../img/bg-pop1.png") no-repeat top center / $width auto;
  }
  .tip{
    font-size: .26rem;
    color: #fb9a00;
  }
  .popinput{
    margin-top: .6rem;
  }
  .btn-ok{
    margin-top: .6rem;
  }
}

// pop 指引分享
.pop-share{
  background: #3d0205;
  .popshareimg{
    width: 100%;
  }
}

// pop 答对 tip
.pop-qsuc{
  .tip{
    padding-top: .25rem;
    line-height: 1.5;
    font-size: .35rem;
    font-weight: bold;
  }
  .btn-gorecharge{
    display: block;
    $width: 3.26rem;
    $height: 1rem;
    margin: .5rem auto 0;
    width: $width;
    height: $height;
    background: url("../img/btn-recharge.png") no-repeat center / $width auto;
  }
}

// scroll
::-webkit-scrollbar{
  display: none;
  opacity: 0;
}

